.pad-t40 {
  padding-top: 40px !important; }

.pad-b20 {
  padding-bottom: 20px !important; }

.small-radio {
  font-size: 22px;
  color: #000000; }

.float-right {
  float: right !important; }

.mar-b-12 {
  margin-bottom: 12px !important; }

.mar-t-16 {
  margin-top: 16px !important; }
