body{
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.nav-title{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.card-container{
    position: relative;
    top: 7vh;
  
}
.card-container-row{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel{
   height: 38rem;
   border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
img{
    width: 29rem;
    height: 38rem;
    position: relative;
    left: -2.5rem;
}

.left-side{
    background-color: #D9DCCB;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    height: 38rem;
    margin-top: -0.1rem;
}
.right-side{
    position: relative;
    top: 8.6rem;
    padding-left: 4rem;
    border: 2px red solid;
}
.text{
    font-weight: bolder;
    font-size: 3.4rem;
    color: #3E593C;
    position: relative;
    top: 3rem;
}
.create_account{
    font-weight: 550;
    font-size: 2.4rem;
    width: 85%;
    color: #3E593C ;
}

.btn{
    border :0.15rem solid #3E593C ;
    color: #3E593C ;
    
}
.btn:hover{
    background-color:#3E593C ;
    color:white;
}
#btn1{
   width: 15.7rem;
   margin-left: -0.8rem;
   margin-top: 1.5rem;
}
.input-row{
   margin-top: 1rem;
}
#inp1{
    width: 17rem;
    position: relative;
    left: -0.9rem;
    border-radius: 0.3rem;
    border: none;
	border: 0.15rem solid #CDCECE;
	background: transparent;
	outline: none;
    height: 3.2rem;
    padding-left: 1rem;
    font-size: 1.3rem;
}
#veg1{
    color: black;
}

#inp2{
    width: 17rem;
    position: relative;
    left: -1.4rem;
    border-radius: 0.3rem;
    border: none;
	border: 0.15rem solid #CDCECE;
	background: transparent;
	outline: none;
    height: 3.2rem;
    padding-left: 1rem;
    font-size: 1.3rem;
}
#inp3{
    margin-top: 3vh;
    width: 96%;
    border-radius: 0.3rem;
    border: none;
	border: 0.15rem solid #CDCECE;
	background: transparent;
	outline: none;
    height: 3.2rem;
    padding-left: 1rem;
    font-size: 1.3rem;
}
#inp4{
    margin-top: 3vh;
    width: 96%;
    border-radius: 0.3rem;
    border: none;
	border: 0.15rem solid #CDCECE;
	background: transparent;
	outline: none;
    height: 3.2rem;
    padding-left: 1rem;
    font-size: 1.3rem;
}



 
 
